:root {
  --bg: #4a5942;
  --secondary-bg: #3e4637;

  --accent: #c4b550;
  --secondary-accent: #958831;

  --text: #dedfd6;
  --secondary-text: #d8ded3;
  --text-3: #a0aa95;

  --border-light: #8c9284;
  --border-dark: #292c21;

  --disabled-text: #292c21;
  --disabled-text-shadow: #75806f;

  --outline: #000;
  --slider: #7f8c7f;
  --slider-bg: #1f1f1f;

  --scrollbar-track: #5a6a50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}

@font-face {
  font-family: ArialPixel;
  src: url("ArialPixel.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--bg);
  color: var(--text);
  font-family: ArialPixel;
}

/* Buttons */

.cs-btn {
  color: inherit;
  text-decoration: none;
  background-color: var(--bg);
  color: #fff;
  padding: 4px 5px 3px;
  font-size: 16px;
  line-height: 15px;
  border: 1px solid;
  border-color: var(--border-light) var(--border-dark) var(--border-dark)
    var(--border-light);
  user-select: none;

  &.close {
	margin-bottom: 6px;
    padding: 0px;
    width: 18px;
    height: 18px;
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 15 15'%3E%3Cpath d='M3,3 4,3 4,4 3,4 M4,3 5,3 5,4 4,4 M3,4 4,4 4,5 3,5 M4,4 5,4 5,5 4,5 M4,5 5,5 5,6 4,6 M5,5 6,5 6,6 5,6 M5,4 6,4 6,5 5,5 M5,6 6,6 6,7 5,7 M6,6 7,6 7,7 6,7 M6,5 7,5 7,6 6,6 M6,7 7,7 7,8 6,8 M6,8 7,8 7,9 6,9 M7,8 8,8 8,9 7,9 M7,7 8,7 8,8 7,8 M7,6 8,6 8,7 7,7 M8,6 9,6 9,7 8,7 M8,7 9,7 9,8 8,8 M8,8 9,8 9,9 8,9 M8,5 9,5 9,6 8,6 M9,5 10,5 10,6 9,6 M9,6 10,6 10,7 9,7 M9,4 10,4 10,5 9,5 M10,4 11,4 11,5 10,5 M10,5 11,5 11,6 10,6 M10,3 11,3 11,4 10,4 M11,3 12,3 12,4 11,4 M11,4 12,4 12,5 11,5 M9,8 10,8 10,9 9,9 M9,9 10,9 10,10 9,10 M8,9 9,9 9,10 8,10 M10,9 11,9 11,10 10,10 M10,10 11,10 11,11 10,11 M9,10 10,10 10,11 9,11 M11,10 12,10 12,11 11,11 M11,11 12,11 12,12 11,12 M10,11 11,11 11,12 10,12 M5,8 6,8 6,9 5,9 M5,9 6,9 6,10 5,10 M6,9 7,9 7,10 6,10 M4,9 5,9 5,10 4,10 M4,10 5,10 5,11 4,11 M5,10 6,10 6,11 5,11 M3,10 4,10 4,11 3,11 M3,11 4,11 4,12 3,12 M4,11 5,11 5,12 4,12 ' fill='%238c9284'/%3E%3C/svg%3E");
  }

  &:focus-visible {
    padding: 3px 4px 2px;
    outline: 1px solid var(--outline);

    &.close {
      padding: 0;
      outline: 0;
    }
  }

  &:active {
    border-color: var(--border-dark) var(--border-light) var(--border-light)
      var(--border-dark);
  }

  &:disabled {
    color: var(--disabled-text);
    text-shadow: var(--disabled-text-shadow) 1px 1px;
    pointer-events: none;
  }
}

.cs-btn a {
	color: inherit;
    text-decoration: none;
  }

/* Hr */

.cs-hr {
  border-left: 0;
  border-right: 0;
  border-top-color: var(--border-dark);
  border-bottom-color: var(--border-light);
}

/* Dialog */

.cs-dialog {
  min-width: 380px;
  max-width: 480px;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid;
  border-color: var(--border-light) var(--border-dark) var(--border-dark)
    var(--border-light);
  padding: 4px;
  user-select: auto;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    padding-left: 2px;

    .wrapper {
      display: flex;
      align-items: center;
      gap: 5px;

      .icon {
        width: 16px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M1,12 2,12 2,13 1,13 M2,13 3,13 3,14 2,14 M3,12 4,12 4,13 3,13 M14,7 15,7 15,8 14,8 ' fill='%238c9284'/%3E%3Cpath d='M3,14 4,14 4,15 3,15 ' fill='%23a5aa9c'/%3E%3Cpath d='M0,11 1,11 1,12 0,12 M10,3 11,3 11,4 10,4 M10,5 11,5 11,6 10,6 M12,3 13,3 13,4 12,4 M12,5 13,5 13,6 12,6 M12,8 13,8 13,9 12,9 ' fill='%23bdbeb5'/%3E%3Cpath d='M0,10 1,10 1,11 0,11 M0,9 1,9 1,10 0,10 M0,8 1,8 1,9 0,9 M1,8 2,8 2,9 1,9 M1,9 2,9 2,10 1,10 M1,10 2,10 2,11 1,11 M2,10 3,10 3,11 2,11 M2,9 3,9 3,10 2,10 M3,9 4,9 4,10 3,10 M3,10 4,10 4,11 3,11 M4,9 5,9 5,10 4,10 M4,10 5,10 5,11 4,11 M5,10 6,10 6,11 5,11 M1,11 2,11 2,12 1,12 M2,11 3,11 3,12 2,12 M3,11 4,11 4,12 3,12 M4,11 5,11 5,12 4,12 M5,11 6,11 6,12 5,12 M3,13 4,13 4,14 3,14 M6,8 7,8 7,9 6,9 M6,7 7,7 7,8 6,8 M7,7 8,7 8,8 7,8 M7,8 8,8 8,9 7,9 M8,7 9,7 9,8 8,8 M8,8 9,8 9,9 8,9 M9,7 10,7 10,8 9,8 M9,8 10,8 10,9 9,9 M10,7 11,7 11,8 10,8 M10,8 11,8 11,9 10,9 M7,9 8,9 8,10 7,10 M8,9 9,9 9,10 8,10 M9,9 10,9 10,10 9,10 M7,6 8,6 8,7 7,7 M8,6 9,6 9,7 8,7 M8,5 9,5 9,6 8,6 M8,4 9,4 9,5 8,5 M8,3 9,3 9,4 8,4 M7,11 8,11 8,12 7,12 M11,3 12,3 12,4 11,4 M11,4 12,4 12,5 11,5 M10,4 11,4 11,5 10,5 M11,5 12,5 12,6 11,6 M12,4 13,4 13,5 12,5 M9,2 10,2 10,3 9,3 M13,2 14,2 14,3 13,3 M13,7 14,7 14,8 13,8 M14,6 15,6 15,7 14,7 M14,5 15,5 15,6 14,6 M14,4 15,4 15,5 14,5 M14,3 15,3 15,4 14,4 M10,1 11,1 11,2 10,2 M11,1 12,1 12,2 11,2 M12,1 13,1 13,2 12,2 ' fill='%23ffffff'/%3E%3Cpath d='M0,7 1,7 1,8 0,8 M11,0 12,0 12,1 11,1 M7,4 8,4 8,5 7,5 M8,1 9,1 9,2 8,2 ' fill='%23848e84'/%3E%3Cpath d='M2,8 3,8 3,9 2,9 M3,8 4,8 4,9 3,9 M6,14 7,14 7,15 6,15 M7,13 8,13 8,14 7,14 M10,9 11,9 11,10 10,10 M15,4 16,4 16,5 15,5 M15,5 16,5 16,6 15,6 ' fill='%239ca29c'/%3E%3Cpath d='M4,8 5,8 5,9 4,9 M6,9 7,9 7,10 6,10 ' fill='%23d6d7ce'/%3E%3Cpath d='M4,14 5,14 5,15 4,15 M5,14 6,14 6,15 5,15 M8,10 9,10 9,11 8,11 ' fill='%23dedfde'/%3E%3Cpath d='M5,8 6,8 6,9 5,9 M11,7 12,7 12,8 11,8 M12,7 13,7 13,8 12,8 M11,8 12,8 12,9 11,9 ' fill='%23f7f7f7'/%3E%3Cpath d='M2,12 3,12 3,13 2,13 M6,13 7,13 7,14 6,14 M7,12 8,12 8,13 7,13 M7,10 8,10 8,11 7,11 M7,5 8,5 8,6 7,6 ' fill='%23efefef'/%3E%3Cpath d='M4,12 5,12 5,13 4,13 M5,12 6,12 6,13 5,13 M9,6 10,6 10,7 9,7 ' fill='%23cecfce'/%3E%3Cpath d='M8,2 9,2 9,3 8,3 M9,1 10,1 10,2 9,2 M13,1 14,1 14,2 13,2 M14,2 15,2 15,3 14,3 ' fill='%23d6dbd6'/%3E%3Cpath d='M13,6 14,6 14,7 13,7 ' fill='%23949e94'/%3E%3Cpath d='M5,9 6,9 6,10 5,10 M6,10 7,10 7,11 6,11 M6,11 7,11 7,12 6,12 M6,12 7,12 7,13 6,13 M4,13 5,13 5,14 4,14 M5,13 6,13 6,14 5,14 M13,5 14,5 14,6 13,6 M13,3 14,3 14,4 13,4 M13,8 14,8 14,9 13,9 M9,10 10,10 10,11 9,11 M7,14 8,14 8,15 7,15 ' fill='%235a6952'/%3E%3Cpath d='M10,6 11,6 11,7 10,7 M11,6 12,6 12,7 11,7 M12,6 13,6 13,7 12,7 M13,4 14,4 14,5 13,5 M12,2 13,2 13,3 12,3 M11,2 12,2 12,3 11,3 M10,2 11,2 11,3 10,3 M9,3 10,3 10,4 9,4 M9,4 10,4 10,5 9,5 M9,5 10,5 10,6 9,6 M5,7 6,7 6,8 5,8 M7,2 8,2 8,3 7,3 M7,3 8,3 8,4 7,4 M9,0 10,0 10,1 9,1 M10,0 11,0 11,1 10,1 M12,0 13,0 13,1 12,1 M14,1 15,1 15,2 14,2 ' fill='%23525d4a'/%3E%3Cpath d='M6,6 7,6 7,7 6,7 ' fill='%23adb6ad'/%3E%3C/svg%3E");
      }

      .text {
        font-size: 16px;
        line-height: 15px;
        color: white;
      }
    }
  }

  .content {
    padding: 10px;
  }

  .footer-btns {
	text-align: right;
    margin: 6px 6px 8px 0;

    .cs-btn {
      width: 72px;
      text-align: left;
    }
  }
  .loading-btns {
    margin-left: 8px;

    .cs-btn {
      width: 72px;
      text-align: left;
    }
  }  
}

/* Progress bar */

.cs-progress-bar {
  transition: width 0.3s ease-in-out;	
  width: 280px;
  height: 24px;
  padding: 3px;
  background-color: var(--secondary-bg);
  border: 1px solid;
  border-color: var(--border-dark) var(--border-light) var(--border-light)
    var(--border-dark);

  .bars {
    height: 100%;
    background-image: linear-gradient(
      to right,
      var(--accent) 8px,
      transparent 2px
    );
    background-size: 12px 16px;
  }
}

/* Tabs */

.cs-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: auto;

  .radiotab {
    position: absolute;
    opacity: 0;
  }

  .label {
    cursor: pointer;
    font-size: 16px;
    color: white;
    line-height: 15px;
    height: 24px;
    padding: 4px 5px;
    text-align: center;
    min-width: 64px;
    position: relative;
    background-color: var(--bg);
    border-top: solid 1px var(--border-light);
    border-left: solid 1px var(--border-light);
    border-right: solid 1px var(--border-dark);
    border-bottom: none;
    margin-right: 1px;
    z-index: 10;
  }

  .radiotab:checked + .label {
    background: var(--bg);
    padding: 5px;
    height: 26px;
    color: var(--accent);

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-color: var(--bg);
    }
  }

  .panel {
    display: none;
    position: relative;
    bottom: 1px;
    padding: 16px 16px 24px;
    background: var(--bg);
    width: 100%;
    border-left: solid 1px var(--border-light);
    border-bottom: solid 1px var(--border-dark);
    border-right: solid 1px var(--border-dark);
    border-top: solid 1px var(--border-light);
    order: 99;
    color: var(--text);
  }

  .radiotab:checked + .label + .panel {
    display: block;
    position: relative;
  }
}